<configuration>
	<startup>
      <supportedRuntime version="v1.1.4322"/>
      <supportedRuntime version="v2.0.50727"/>
      <supportedRuntime version="v3.0"/>
      <supportedRuntime version="v3.5.20404"/>
   </startup>
   <appSettings>
   <!-- string name = ConfigurationSettings.AppSettings["name"]; -->
		<add key="CXROM_ExpansionNameSegmentEnd"      value="3fff0" />
		<add key="CXROM_FortyNinersQB1SimAttrStart"   value="199C1" />
		
		<!-- Color locations for 32 team ROM-->
		<add key="CXROM_BillsDivChampColorLoc"        value="343e8" />
		<add key="CXROM_BillsConfChampColorLoc"       value="34494" />
		<add key="CXROM_FortyNinersDivChampColorLoc"  value="3494f" />
		<add key="CXROM_FortyiNersConfChampColorLoc"  value="349cf" />
		<add key="CXROM_FortyNinersActionSeqColorLoc" value="348f7" />
		<add key="CXROM_FortyNinersUniformColorLoc"   value="2cf82" />
   </appSettings>
</configuration>

